body {
    margin: 0;
}

.header,
.footer { 
    background: #1a1c22;
    height: 100px;
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 15px 0;
    min-height: 400px;
    height: calc(100vh - 230px);
}


.sidebar {
    background: #6c757d;
    flex: none;
    width: 400px;
    margin-right: 15px;
}

.content { 
    flex: 1;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    background: green;
}

.content__item{
    background: #343a40;

}

@media screen and (max-width: 600px) {
    .page-container {
        flex-flow: wrap;   
    }

    .sidebar {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .content {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .content__item {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .page-container {
        flex-flow: wrap;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .content {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .sidebar {
        width: 400px;
    }
    .content {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}